{
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "prettier"],
  "plugins": [
    "import",
    "prettier"
  ],
  "rules": {
    "generator-star-spacing": 0,
    "no-duplicate-imports": 0,
    "import/no-duplicates": 2,
    "no-console": "warn"
  }
}